# v0.23.5
#Limiting TRL to 0.14.0 prevents the Training Error "index out of range"
trl==0.14.0
vllm==0.7.3
llama_cpp_python[server]==0.3.2 -C cmake.args='-DGGML_CUDA=on -DGGML_NATIVE=off'
instructlab[cuda]==0.23.5
